<%= content_tag( 'h1', 'Mocked up JSON to prototype search with' ) %>
<ul>
	<%= content_tag( 'li', link_to( 'Form', form_url ) ) %>
	<li>
		<%= content_tag( 'p', 'Results' ) %>
		<ul>
			<%= content_tag( 'p', link_to( 'Written statments', results_url( :document_type => 'written-statements' ) ) ) %>
		</ul>
	</li>
	<%= content_tag( 'li', link_to( 'Object 1', object_url( :object => 1 ) ) ) %>
	<%= content_tag( 'li', link_to( 'Object 2', object_url( :object => 2 ) ) ) %>
</ul>