<%= content_tag( 'h1', 'Mocked up JSON to prototype search with' ) %>
<ul>
	<%= content_tag( 'li', link_to( 'Form', form_url ) ) %>
	<li>
		<%= content_tag( 'p', 'Results' ) %>
		<ul>
			<%= content_tag( 'p', "Written statements (#{link_to( 'XML', results_url( :document_type => 'written-statements', :format => 'xml' ) )} / #{link_to( 'JSON', results_url( :document_type => 'written-statements', :format => 'json' ) )} / #{link_to( 'Ruby object', results_url( :document_type => 'written-statements', :format => 'rb' ) )})".html_safe ) %>
		</ul>
	</li>
	<li>
		<%= content_tag( 'p', 'Objects' ) %>
		<ul>
			<%= content_tag( 'p', "A written statement (#{link_to( 'XML', object_url( :object => 'http://data.parliament.uk/writtenparliamentaryquestion/commons/2014-15/225322', :format => 'xml' ) )} / #{link_to( 'JSON', object_url( :object => 'http://data.parliament.uk/writtenparliamentaryquestion/commons/2014-15/225322', :format => 'json' ) )} / #{link_to( 'Ruby object', object_url( :object => 'http://data.parliament.uk/writtenparliamentaryquestion/commons/2014-15/225322', :format => 'rb' ) )})".html_safe ) %>
		</ul>
	</li>
</ul>